@import "./colors";

@font-face {
  font-family: "acremedium";
  src:
    url("../assets/fonts/jonathan_ball_-_acre-medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/jonathan_ball_-_acre-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "acremedium", Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  margin: 0;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}

:focus {
  outline: none;
}
