.header-artist-info {
  position: relative;

  img {
    width: 100%;
  }

  p {
    bottom: 3rem;
    font-size: 2.8rem;
    font-weight: 400;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .hero-inner::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #fff, transparent);
  }

  .back-arrow-icon {
    cursor: pointer;
    height: 2rem;
    left: 10px;
    position: absolute;
    top: 20px;
    width: 10%;
  }
}

.body-artist-info {
  padding: 1rem 2rem;

  h3 {
    text-align: center;
  }
}

.popular-items {
  margin-top: 2rem;

  .track-item {
    align-items: center;
    display: grid;
    grid-template-columns: 0.15fr 0.25fr 1fr;
    margin: 1rem;
  }
}
