.background {
  background:
    transparent url(../assets/images/signup-back.png) 0% 0% no-repeat
    padding-box;
  background-position: bottom;
  height: 100vh;
}

.container {
  padding: 10rem 2rem 2rem 2rem;
  text-align: center;
}
