@import "../styles/colors";

.result-track-content-body {
  padding: 4rem 2rem 2rem;

  h2 {
    text-align: center;
  }

  .result-tracking-info {
    margin-top: 2rem;
  }

  .result-tracking-item {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin-bottom: 1rem;

    .date {
      h4 {
        margin: 0.5rem 0;
      }

      p {
        font-size: 0.8rem;
        color: $secondary;
      }
    }

    .hours {
      text-align: right;
    }
  }

  .pick-date {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;

    .icon {
      height: 1rem;
    }

    .right-arrow-icon {
      transform: rotate(180deg);
    }

    .left-arrow,
    .right-arrow {
      cursor: pointer;
    }
  }
}
