@import '../colors';

.primary {
  background-color: $primary;
  border: none;
  border-radius: 35px;
  color: #fff;
  font-size: 1rem;
  font-family: 'acremedium', Arial, sans-serif;
  opacity: 1;
  padding: 5% 40%;
}
